.__beautify-var-dumper {
    box-sizing: border-box;
    background-color: #24292e;
    color: #f8f8f2;
    padding: 10px;
    border-radius: 5px;
    font-family: monospace;
    font-size: 13px;
    white-space: pre-wrap;
    overflow: auto;
    width: 100%;
}
.__beautify-var-dumper .key {
    color: #e89d69;
}
.__beautify-var-dumper .string {
    color: #79b8ff;
}
.__beautify-var-dumper .number {
    color: #ae81ff;
}
.__beautify-var-dumper .boolean {
    color: #f92672;
}
.__beautify-var-dumper .null {
    color: #f92672;
}
.__beautify-var-dumper .type {
    color: #e1f7fc;
    font-style: italic;
    font-size: 12px;
}
